{% extends "base.html" %}

{% block title %}
    {{ contest.description }}
{% endblock title %}

{% block js %}
<script>
function getPreferredTheme() {
    return localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
}

function setTheme(theme) {
    if (theme) localStorage.setItem("theme", theme === "auto" ? "" : theme);
    document.documentElement.setAttribute("data-bs-theme", getPreferredTheme());
}

document.addEventListener("DOMContentLoaded", () => {
    setTheme();
});

var LANGUAGES = {
{% for lang in contest.languages %}
    '{{ lang }}': {
    {% for extension in (lang|to_language).source_extensions %}
        '{{ extension }}': true,
    {% endfor %}
    },
{% endfor %}
};

{% if participation is undefined %}
var utils = new CMS.CWSUtils("{{ url() }}", "{{ contest_url() }}", "{{ contest.name }}",
                             0, 0, 0, 0, 0);
    {% if handler.get_argument("login_error", "") != "" %}
document.addEventListener("DOMContentLoaded", () => {
    utils.display_notification(
        "notification",
        Date.now(),
        "",
        "{% trans %}Failed to log in.{% endtrans %}",
        "danger",
        false,
    );
});
    {% endif %}
{% else %}
// FIXME use Date objects
var utils = new CMS.CWSUtils("{{ url() }}", "{{ contest_url() }}", "{{ contest.name }}",
                             {{ now|make_timestamp }},
                             {# What we do is: if timezone is +HH:MM we return the UNIX timestamp + 3600*HH + 60*MM. #}
                             {{ now.replace(tzinfo=utc).astimezone(timezone).replace(tzinfo=none)|make_timestamp }},
                             {{ current_phase_begin|make_timestamp }},
                             {{ current_phase_end|make_timestamp }},
                             {{ actual_phase }});
document.addEventListener("DOMContentLoaded", () => {
    utils.update_time({% if contest.per_user_time is not none %}true{% else %}false{% endif %});
    var timer = setInterval(function() {
        utils.update_time({% if contest.per_user_time is not none %}true{% else %}false{% endif %}, timer);
    }, 1000);
    utils.update_unread_count(0{% if page == "communication" %}, 0{% endif %});
    utils.update_notifications(true);
    setInterval(function() { utils.update_notifications(); }, 30000);

    document.querySelectorAll(".task-nav").forEach(taskEle => {
        const dropdownMenu = taskEle.getElementsByClassName("dropdown-menu")[0];
        const offset = (taskEle.offsetHeight - dropdownMenu.offsetHeight) / 2;
        const adjustPosition = () => {
            const rect = taskEle.getBoundingClientRect();
            dropdownMenu.style.top = `${rect.top + offset}px`;
            dropdownMenu.style.left = `${rect.right}px`;
        };
        adjustPosition();
        taskEle.addEventListener("mouseenter", adjustPosition);
    });
});
{% endif %}

function updatePosition() {
    // Toast container
    const toastContainer = document.getElementById("notifications");
    const header = document.getElementsByTagName("header")[0];
    toastContainer.style.top = `${header.offsetHeight}px`;

    // Sidebar
    const sidebar = document.getElementsByTagName("aside")[0];
    // 1rem = .mt-3 is the margin-top of the page content
    sidebar.style.top = `calc(${header.offsetHeight}px + 1rem)`;
    sidebar.style.height = `calc(100vh - ${header.offsetHeight}px - 1rem)`;
}

document.addEventListener("DOMContentLoaded", updatePosition);
window.addEventListener("resize", updatePosition);

{% block additional_js %}{% endblock additional_js %}
</script>
{% endblock js %}

{% block body %}
<div class="container-fluid d-flex flex-column min-vh-100 p-0">
    {% include "components/navbar.html" %}

    <div class="toast-container position-fixed end-0 p-3" id="notifications"></div>

    <div class="flex-grow-1 container-fluid d-flex justify-content-center align-items-center position-relative">
    {% if participation is undefined %}
        <div class="container card rounded-5 shadow login_box py-2">
            <div class="card-body px-5 py-4">
                <h2 class="card-title">{% trans %}Welcome{% endtrans %}</h2>
                <h5 class="card-subtitle text-body-secondary mb-4">{% trans %}Please log in{% endtrans %}</h5>
                <form class="d-flex flex-column gap-3" action="{{ contest_url("login") }}" method="POST">
                    {{ xsrf_form_html|safe }}
                    {% set next_page = handler.get_argument("next", none) %}
                    {% if next_page is not none %}
                    <input type="hidden" name="next" value="{{ next_page }}">
                    {% endif %}
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-4" name="username" id="username" placeholder="">
                        <label for="username">{% trans %}Username{% endtrans %}</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-4" name="password" id="password" placeholder="">
                        <label for="password">{% trans %}Password{% endtrans %}</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary rounded-pill col-6 offset-3">
                            {% trans %}Login{% endtrans %}
                        </button>
                    </div>
                </form>
                {% if contest.allow_registration %}
                <div class="mt-4 row align-items-center">
                    <span class="col-7 offset-1">{% trans %}Don't have an account?{% endtrans %}</span>
                    <a
                        class="btn btn-outline-secondary col-3 rounded-pill"
                        href="{{ contest_url('register') }}"
                    >
                        {% trans %}Register{% endtrans %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <!-- Some hidden divs for translations used by JS -->
        <div style="display: none" id="translation_new_message">{% trans %}New message{% endtrans %}</div>
        <div style="display: none" id="translation_new_announcement">{% trans %}New announcement{% endtrans %}</div>
        <div style="display: none" id="translation_new_answer">{% trans %}New answer{% endtrans %}</div>
        <div style="display: none" id="translation_unread">{% trans %}%d unread{% endtrans %}</div>
        <div style="display: none" id="translation_until_contest_starts">{% trans %}Until contest starts:{% endtrans %}</div>
        <div style="display: none" id="translation_until_contest_ends">{% trans %}Until contest ends:{% endtrans %}</div>
        <div style="display: none" id="translation_until_analysis_starts">{% trans %}Until analysis starts:{% endtrans %}</div>
        <div style="display: none" id="translation_until_analysis_ends">{% trans %}Until analysis ends:{% endtrans %}</div>
        <div style="display: none" id="translation_time_left">{% trans %}Time left:{% endtrans %}</div>
        <!-- End -->

        <div class="container-fluid d-inline-flex gap-3 mt-3">
            {% include "components/sidebar.html" %}
            <main class="flex-grow-1 mb-5">
                {% block core %}{% endblock core %}
            </main>
        </div>
    {% endif %}
    </div>

    {% block modal %}{% endblock modal %}

</div>
{% endblock body %}
