/* Always show the scrollbar */

body {
    overflow-y: scroll;
}

/* Remove the on-hover coloring of rows in tables with table-nohover class */
.table.table-nohover > tbody > tr:hover > td,
.table.table-nohover > tbody > tr:hover > th {
    background-color: transparent !important;
}

/** Announcements, questions, answers and messages **/

/* Almost "copy" Bootstrap rules for alert-info */

div.announcement_list div.announcement,
div.question_list div.question,
div.question_list div.answer,
div.question_list div.no_answer,
div.message_list div.message {
    padding: 14px 18px 14px 14px;
    border-radius: 4px;
    min-height: 18px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #3a87ad;
    border: 1px solid #bcd8f1;
    background-color: #d9edf7;
}

div.question_list div.question {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.question_list div.answer,
div.question_list div.no_answer {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Display the timestamp on the top right corner of the box */

div.announcement_list div.announcement h4.subject,
div.question_list div.question h4.subject,
div.question_list div.answer h4.subject,
div.message_list div.message h4.subject {
    display: inline;
    margin-right: 5px;
}

div.announcement_list div.announcement span.timestamp,
div.question_list div.question span.timestamp,
div.question_list div.answer span.timestamp,
div.message_list div.message span.timestamp {
    float: right;
    margin-left: 5px;
}

/* If the subject is missing, display a note in italic */

div.announcement_list div.announcement h4.subject.empty,
div.question_list div.question h4.subject.empty,
div.question_list div.answer h4.subject.empty,
div.message_list div.message h4.subject.empty {
    font-style: italic;
}

/* Add some distance between the announcement header and its content */
/* Also make sure the line breaks in the body text are preserved */

div.announcement_list div.announcement div.body,
div.question_list div.question div.body,
div.question_list div.answer div.body,
div.message_list div.message div.body {
    padding-top: 5px;
    clear: both;
    white-space: pre-line;
}

/* Give some style to the "no answer" placeholder */

div.question_list div.no_answer {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 18px;
    text-align: center;
}

/* Enhancements to the question form */

div.question_submit form {
    width: 100%;
    margin: 0;
}

div.question_submit div.control-group:last-child {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 979px) {
    div.question_submit input,
    div.question_submit textarea {
        width: 328px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    div.question_submit input,
    div.question_submit textarea {
        width: 490px;
    }
}

@media (min-width: 1200px) {
    div.question_submit input,
    div.question_submit textarea {
        width: 660px;
    }
}

div.question_submit textarea {
    resize: vertical;
    min-height: 75px;
    max-height: 275px;
}

/** Login **/

div.login_box {
    max-width: calc(30rem + 5vw);
}

/** Register **/

div.register_box form {
    margin-bottom: 0;
}

div.register_box form fieldset div.control-group:last-child {
    margin-bottom: 0;
}

div.register_box {
    max-width: 450px;
    margin: 20px auto;
}

/* Some fixes and enhancements of Bootstrap */
/* For mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    .modal-dialog {
        position: fixed;
        top: 50%;
        left: 10px;
        right: 10px;
        width: auto;
        transform: translateY(-50%); /* Vertically center */
    }
}

/* For medium screens (768px to 979px) */
@media (min-width: 768px) and (max-width: 979px) {
    .modal-dialog.modal-wide {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* For large screens (980px to 1199px) */
@media (min-width: 980px) and (max-width: 1199px) {
    .modal-dialog.modal-wide {
        width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* For extra large screens (1200px and above) */
@media (min-width: 1200px) {
    .modal-dialog.modal-wide {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*** Task statement */

.task_description .statement.no_statement {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

.task_description .statement.one_statement {
    text-align: center;
}

@media (max-width: 767px) {
    .task_description .statement.many_statements .main_statements {
        margin-bottom: 15px;
    }

    .task_description .statement.many_statements .all_statements div {
        max-height: 280px;
    }
}

@media (min-width: 768px) {
    .task_description .statement.many_statements {
        min-height: 238px;
        position: relative;
    }

    .task_description .statement.many_statements .all_statements {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
    }

    .task_description .statement.many_statements .all_statements div {
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .task_description .statement.many_statements .main_statements {
        width: 290px;
    }

    .task_description .statement.many_statements .all_statements {
        width: 228px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .task_description .statement.many_statements .main_statements {
        width: 380px;
    }

    .task_description .statement.many_statements .all_statements {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .task_description .statement.many_statements .main_statements {
        width: 470px;
    }

    .task_description .statement.many_statements .all_statements {
        width: 370px;
    }
}

.task_description .statement.many_statements .main_statements {
    text-align: center;
}

.task_description .statement.many_statements .main_statements p {
    text-align: left;
}

.task_description .statement.many_statements .main_statements p:last-child {
    margin-bottom: 5px;
}

.task_description .statement.many_statements .main_statements a.btn {
    min-width: 50%;
    margin: 5px;
}

.task_description .statement.many_statements .all_statements {
    padding: 5px;
}

.task_description .statement.many_statements .all_statements div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0;
}

.task_description .statement.many_statements .all_statements div ul {
    margin: 5px 5px 5px 25px;
}

/*** Compilation commands */

.compilation_command_cell {
    padding: 5px !important;
}

.compilation_command {
    display: block;
}

.compilation_command + .compilation_command {
    margin-top: 5px;
}

/*** Sidebar */
.sidebar {
    flex: 0 0 20%;
    max-width: 250px;
}

.sidebar .nav .nav-link {
    color: var(--bs-body-color);
}

.sidebar .nav .nav-link:hover,
.sidebar .nav .nav-link:focus,
.sidebar .nav .hovermenu:hover .nav-link,
.sidebar .nav .hovermenu:focus .nav-link {
    color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
}

.sidebar .nav .nav-link.active,
.sidebar .nav .nav-link:active,
.sidebar .nav .hovermenu:hover .nav-link.active,
.sidebar .nav .hovermenu:focus .nav-link:active {
    color: #fff;
    background-color: #0d6efd;
}

/*** Dropdown list with hover effects */

.dropdown-menu .dropdown-item {
    /* Same as .nav-link */
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.hovermenu .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.25s ease-in-out,
        opacity 0.25s ease-in-out,
        margin-left 0.25s ease-in-out,
        max-height 0.25s ease-in-out;
}

.hovermenu:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

#lang_dropdown_list {
    max-height: 0;
    right: 0;
    left: auto;
    transform: translateY(0.2rem);
}

.hovermenu:hover #lang_dropdown_list {
    max-height: 30rem;
}

.task-nav .dropdown-menu {
    position: fixed;
    margin-left: 0;
}

.task-nav:hover .dropdown-menu {
    margin-left: 0.3rem;
}

/*** Unread count */

#unread_count.no_unread {
    display: none;
}

/*** Token rules */

td.token_rules p:last-child {
    margin-bottom: 0;
}

/*** Notifications */

#notifications .toast {
    backdrop-filter: blur(.4rem);
}

/*** Task score */

.task_score {
    flex: 1 1 0;
    border-width: medium;
}

.task_score .spinner-border {
    scale: 75%;
}

.task_score.score_0 {
    background-color: hsla(0, 100%, 50%, 0.2);
    border-color: hsla(0, 100%, 50%, 0.5);
}

.task_score.score_0_100 {
    background-color: hsla(60, 100%, 50%, 0.2);
    border-color: hsla(60, 100%, 50%, 0.5);
}

.task_score.score_100 {
    background-color: hsla(120, 100%, 50%, 0.2);
    border-color: hsla(120, 100%, 50%, 0.5);
}

/*** Submit a solution */

/*** Submissions table */

.submission_list .status .spinner-border {
    scale: 70%;
}

.submission_list td.public_score.score_0 {
    background-color: hsla(0, 100%, 50%, 0.2);
}

.submission_list tr:hover td.public_score.score_0 {
    background-color: hsla(0, 100%, 50%, 0.3);
}

.submission_list td.public_score.score_0_100 {
    background-color: hsla(60, 100%, 50%, 0.2);
}

.submission_list tr:hover td.public_score.score_0_100 {
    background-color: hsla(60, 100%, 50%, 0.3);
}

.submission_list td.public_score.score_100 {
    background-color: hsla(120, 100%, 50%, 0.2);
}

.submission_list tr:hover td.public_score.score_100 {
    background-color: hsla(120, 100%, 50%, 0.3);
}

.submission_list td.total_score.score_0 {
    background-color: hsla(0, 100%, 50%, 0.4);
}

.submission_list tr:hover td.total_score.score_0 {
    background-color: hsla(0, 100%, 50%, 0.5);
}

.submission_list td.total_score.score_0_100 {
    background-color: hsla(60, 100%, 50%, 0.4);
}

.submission_list tr:hover td.total_score.score_0_100 {
    background-color: hsla(60, 100%, 50%, 0.5);
}

.submission_list td.total_score.score_100 {
    background-color: hsla(120, 100%, 50%, 0.4);
}

.submission_list tr:hover td.total_score.score_100 {
    background-color: hsla(120, 100%, 50%, 0.5);
}

/*** Submission details */

#submission_detail .accordion-item .accordion-header .score {
    width: 7rem;
}

#submission_detail .accordion-item.undefined .accordion-header .score {
    color: #fff;
    background-color: var(--bs-secondary);
}

#submission_detail .accordion-item.correct .accordion-header .score {
    color: #fff;
    background-color: var(--bs-success);
}

#submission_detail .accordion-item.notcorrect .accordion-header .score {
    color: #fff;
    background-color: var(--bs-danger);
}

#submission_detail .accordion-item.partiallycorrect .accordion-header .score {
    color: #000;
    background-color: var(--bs-orange);
}

#submission_detail .idx {
    width: 0;
}

#submission_detail .outcome {
    width: 15%;
}

#submission_detail tr.correct .outcome {
    color: var(--bs-success);
}

#submission_detail tr.notcorrect .outcome {
    color: var(--bs-danger);
}

#submission_detail tr.partiallycorrect .outcome {
    color: var(--bs-orange);
}

#submission_detail .execution-time {
    width: 15%;
}

#submission_detail .memory-used {
    width: 15%;
}

/*** per-user time box */

.per_user_time p:last-child {
    margin-bottom: 0;
}

/*** Countdown */

#countdown_box.hidden {
    display: none;
}

/*** License notice */

.license_notice {
    display: block;
    text-align: center;
    padding: 0 6%;
    font-size: 11px;
}

/*** Attachments */

#attachments ul {
    margin-left: 0;
    list-style-type: none;
    -webkit-column-count: 3;
    -webkit-column-gap: 8px;
    -moz-column-count: 3;
    -moz-column-gap: 8px;
    column-count: 3;
    column-gap: 8px;
}

#attachments ul li {
    -webkit-column-break-inside: avoid;
    -webkit-break-inside: avoid;
    -moz-break-inside: avoid;
    break-inside: avoid;
}

/* this is a really ugly hack to simulate the no-break behavior on firefox */
@-moz-document url-prefix() {
    #attachments ul li {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}

#attachments ul li a {
    display: block;
    height: 36px;
    margin-bottom: 8px;
    padding: 6px;
    text-align: left;
}

#attachments ul li a:hover {
    background-color: #e3e3e3;
}

#attachments ul li img {
    float: left;
    margin: 2px 8px 2px 2px;
}

#attachments ul li .first_line {
    display: block;
    height: 18px;
    overflow: hidden;
}

#attachments ul li .name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

#attachments ul li .size {
    float: right;
    font-style: italic;
    /* the size floats on right of the first line if there's enough space.
       otherwise (if the name is very long) it gets shifted down,
       "disappearing" because the first line has overflow: hidden */
}

#attachments ul li .type {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** Test interface */

.test_interface .nav-tabs li {
    display: block;
    width: 33%;
}

.test_interface .nav-tabs li a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.test_interface .tab-content {
    overflow: visible;
}

.submit_test {
    margin-bottom: 20px;
}

.submit_test form {
    margin-bottom: 0;
}

.submit_test .control-group {
    margin-bottom: 0;
}

.submit_test .control-group:last-of-type {
    margin-top: 10px;
}

.submit_test .control-label {
    width: 100px;
    padding-top: 4px;
    margin-bottom: 4px;
}

.submit_test .controls {
    margin-left: 110px;
}

.submit_test input[type="file"] {
    height: auto;
    line-height: 18px;
}

.user_test_list colgroup col.time,
.user_test_list colgroup col.datetime {
    width: 1%;
}

.user_test_list colgroup col.status {
    width: 20%;
}

.user_test_list colgroup col.execution_time {
    width: 3%;
}

.user_test_list colgroup col.memory {
    width: 3%;
}

.user_test_list colgroup col.input {
    width: 16%;
}

.user_test_list colgroup col.output {
    width: 16%;
}

.user_test_list colgroup col.files {
    width: 10%;
}

.user_test_list tbody tr td.no_user_tests {
    font-style: italic;
    text-align: center !important;
}

.user_test_list tbody tr td.time,
.user_test_list tbody tr td.datetime {
    white-space: nowrap;
}

.user_test_list tbody tr td.status .details {
    float: right;
    cursor: pointer;
}

.user_test_list tbody tr td.time.undefined,
.user_test_list tbody tr td.memory.undefined {
    color: #aaa;
    white-space: nowrap;
}

.user_test_list tbody tr td.input,
.user_test_list tbody tr td.output,
.user_test_list tbody tr td.files {
    padding: 3px;
}

.user_test_list tbody tr td.input .btn,
.user_test_list tbody tr td.output .btn,
.user_test_list tbody tr td.files .btn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
}

#user_test_detail .modal-body {
    position: relative;
    height: 400px;
    overflow-y: auto; /* Ensure content can scroll if it exceeds the height */
}

#user_test_detail .modal-body .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Vertically and horizontally center */
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

#user_test_detail .modal-body .loading img {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 auto 12px;
}

/** Printing interface */

#printjob_list tbody tr td.no_printjobs {
    font-style: italic;
    text-align: center !important;
}

/* Contest selection page */

.contest-list {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.contest-list ul {
    padding: 0;
}

.contest-list li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.contest-list li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.contest-list li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    background-color: white;
    border: 1px solid #e5e5e5;
}
