<header id="navigation_bar" class="navbar navbar-expand-lg sticky-top border-bottom shadow-sm">
    <nav class="container-xxl extra-large d-flex justify-content-between">
        <a class="navbar-brand" href="{{ contest_url() }}">{{ contest.description }}</a>
        <div class="d-inline-flex align-items-center me-2">
{% if participation is defined %}
            <span class="navbar-text me-2">
                {% trans first_name=user.first_name,
                        last_name=user.last_name,
                        username=user.username %}
                    Logged in as <strong>{{ first_name }} {{ last_name }}</strong> <em>({{ username }})</em>
                {% endtrans %}
            </span>
            <form action="{{ contest_url("logout") }}" method="POST">
                {{ xsrf_form_html|safe }}
                <button type="submit" class="btn navbar-btn"><i class="bi bi-box-arrow-right h5"></i></button>
            </form>
{% endif %}
{% if available_translations|length > 1 %}
            <div class="hovermenu w-auto">
                <button type="button" class="btn navbar-btn"><i class="bi bi-translate h5"></i></button>
                <ul class="dropdown-menu nav-hoverdown-list overflow-y-auto w-auto shadow">
                    <li class="mx-1">
                        <button
                            class="dropdown-item rounded{% if cookie_translation is none %} active{% endif %}"
                            onclick="utils.switch_lang('')"
                        >
                            {% trans lang=automatic_translation.name %}Automatic ({{ lang }}){% endtrans %}
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    {% for lang_code, t in available_translations|dictsort(by="key") %}
                        <li class="mx-1">
                            <button
                                class="dropdown-item rounded{% if t == cookie_translation %} active{% endif %}"
                                onclick="utils.switch_lang('{{ lang_code }}')"
                            >
                                {{ t.name }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
{% endif %}
            <div class="hovermenu w-auto">
                <button type="button" class="btn navbar-btn"><i class="bi bi-circle-half h5"></i></button>
                <ul class="dropdown-menu nav-hoverdown-list overflow-y-auto w-auto shadow">
                    <li class="mx-1">
                        <button id="theme-auto" class="dropdown-item rounded" onclick="setTheme('auto')">
                            {% trans %}Automatic{% endtrans %}
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="mx-1">
                        <button id="theme-light" class="dropdown-item rounded" onclick="setTheme('light')">
                            {% trans %}Light{% endtrans %}
                        </button>
                    </li>
                    <li class="mx-1">
                        <button id="theme-dark" class="dropdown-item rounded" onclick="setTheme('dark')">
                            {% trans %}Dark{% endtrans %}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
